Balon itu  ditiup  Ilham
Obe menulis puisi
Saya mengetik makalah
Angga Anak Ajaib
Ibuku seorang dosen
Dia Sedang berenang
Ilham sedang mencari bukunya yang hilang
Ibu Sedang menyapu halaman rumah
Ayah sedang membajak padi di sawah
Andi pergi berkemah di tepi Pantai
Angga pergi ke toko buku
Saya masih ada di rumah
Ayah sekarang ada di pasar
Kakak masih bermain bola
Ada banyak tikus di rumah
Adik menangis keras karena jatuh
Hotel itu sangat mewah seperti istana
Sisa uang yang aku miliki saat ini hanya berjumlah sepuluh ribu rupiah
Jarak sekolah dan rumahku tidak terlalu jauh
Perampok itu merampok korbannya dengan sangat kejam
Pak Roni berangkat ke Bandung besok
Bu Cinta berangkat ke sekolah menggunakan taksi
Satria memberikan uang kepada adiknya
Pak Hasan bertemu dengan Pak Husen kemarin di halte bus
Uang Maman jatuh ke selokan
Yusron sedang menyapu halaman
Dona adalah siswa berprestasi di kampusku
Caca menulis status fb
Ranti berjalan dengan pelan
Pak Andre memecahkan gelas dengan sengaja
Pak Amir bermain basket di lapangan
Paman mengunjungi ayah kemarin
Ibu menjahit baju dengan rapi
Rini menulis surat dengan komputer
Dina menulis puisi untuk ibunda di beranda pada malam hari
Adik berlari dengan sangat kencang
Wahyu pergi ke warung
Anita sedang membuat roti
Singa mengintai mangsanya
Mobil itu melaju dengan sangat cepat
Kakek sebelah rumahku sangat pemarah
Romeo tampan dengan setelan jas itu
Arsita terlihat begitu anggun dengan gaunnya
Cecep adalah pembohong
Irawan sangat baik hati kepada siapa saja
Dudung sangat pendiam di sekolahnya
Kucing hitam itu sangat menakutkan
Ibuku adalah orang yang sangat penyayang
Mirna membersihkan kacamatanya dengan selembar tisu basah
Jesica menyeduhkan kopi kesukaan ayahnya
Paman membelikanku novel Sherlock Holmes edisi terbaru
Pemulung itu memunguti sampah yang bisa didaur ulang
Weni membantu ayahnya memanen buah apel di kebun miliknya
Ibu sedang mencuci piring
Devis bermain bola kaki sampai sore
Sabrina mencari bukunya yang terselip
Kami pergi berkemah di Gunung Semeru
Bu Septia menunggang kerbau
Siska berteriak di kejauhan
Santoso menjahit celana
Dia melamunkan seseorang
Adik membaca buku pelajaran di kamarnya
Nur menemukan barang itu di jalan
Messi mencetak gol indah di pertandingan tadi malam
Anggi membeli kue di toko
Riko menonton TV di ruang tamu
Bu Via menyanyikan lagu dengan semangat
Wawan menyalakan lampu di depan rumah
Yasmin membuang sampah di tempat sampah
Rina bertemu temannya tadi malam
Indah memakan bekalnya dengan lahap
Paul mematikan komputernya lima menit yang lalu
Pak Sutejo menanam padi di sawah
Karni membacakan orasi di atas panggung
Tata membeli baju mahal itu di mall
Pemburu itu berburu hewan di hutan
Riana makan nasi goreng
Citra sedang membaca buku
Ibu sedang mencuci pakaian
Joko membeli bahan makanan
Dik Dina melihat pemandangan pantai
Para nelayan sedang memancing ikan
Kucing itu berburu mangsa
Anak laki-laki itu yang menendang bola
Mey meminum minuman itu
Suster Ayu suka menonton drama Korea
Bapak Rian sedang mencari nafkah
Ibu Budi sedang menanak nasi
Polisi itu menangkap gerombolan pencuri
Auliya menjual beberapa perhiasannya
Nadya suka menggambar komik
Ajeng tertawa terbahak-bahak
Ibu memasak di dapur
Devin menangis tersedu-sedu
Arlita sedang belajar di sekolah
Bugie bermain di halaman rumah
Para siswa berdiskusi di warung kopi
Rizal sedang membaca di perpustakaan
Singa meraung dengan keras
Pak guru berpidato di lapangan sekolah
Bu Rima berdandan di salon
Kak Dina beli baju di toko baru.
Paman Budi tidur di kamar depan
Ibu menyiram bunga
Bunga disiram ibu
Ibu Shinta menyiram bunga mawar dengan air hujan yang ditampung kemarin
Ayah membaca koran Waspada di teras rumah
Ketika hujan tadi malam, penjual nasi goreng berjualan
Adik membaca buku ensiklopedia
Kami pergi ke Gunung Rinjani saat liburan nanti
Aku suka dengan tulisannya
Ibu menjahit baju sekolahku yang robek
Tim Indonesia mencetak gol ke gawang lawan
Bu Asti mengenakan topi bundar
Tahanan di Nusakambangan diberikan keringanan saat hari raya Idul Fitri
Cerpen yang ada di sekolah menginpirasi pembacanya
Perpustakaan menjadi tempat yang paling nyaman di sekolah kami
Ibu Sri Yuni membeli kue capit
Pak Ucok membajak sawah dengan teknologi pertanian yang modern
Ibu sedang mencuci piring
Pak Andri bermain bola sampai sore
Rani sedang mencari buku yang terselip
Kami pergi berkemah di Gunung Semeru
Ada tikus di bawah ranjang tidurku
Linda pergi ke toko cat
Aku masih ada di rumah
Kami pergi ke sana sekarang
Ayah sedang ada di kantor
Ibu Rusni memasak sejak tadi pagi
Andini berlibur ke pantai hari ini
Setelah kejadian kemarin, kami trauma pergi ke sana
Mita membersihkan rumah.
Pak Dodi mengatakan Bu Nia pergi ke rumah Jihan sebelum magrib
Tika berhenti menangis setelah Ayah membelikannya mainan baru
Ibu Guru mengatakan bahwa kami harus menyelesaikan soal ujian hari ini
Saya tertawa ketika melihat acara komedi di televisi
Pak Gilang mengatakan bahwa Ayah pulang lusa
Bulan depan, kami mengikuti UNBK secara serentak
Kue ini layak dimakan
Obat ini kadaluarsa
Malam ini kami menginap di hotel yang besar
Jojon pulang ke rumah sejak Ayah memarahinya
Tuangkan adonan ke dalam loyang setelah adonan dingin
Ibu memberikan sup hangat ketika Ayah pulang
Pak Tono tahu bahwa komputernya rusak
saya pergi ke pasar jam enam pagi
Ayah pergi ke kantor minggu kemarin
Andi berangkat ke sekolah
ani mendapat nilai bagus pada hari pertama
Andre berangkat ke sekolah pada enam pagi
Sejak kemarin sore, dinda pulang ke rumah
Musim kemarau terjadi di bulan Oktober
Andre dapat mendengar dengan baik sejak kecil
Nuryati pindah ke Bandung setelah menikah
Obat itu diminum setelah makan siang
Matahari terbit di pagi hari
Saat fajar tiba terdengar suara ayam jantan berkokok
Ayah pergi memancing seminggu sekali
Pak Ilham masuk kantor
Zaman dahulu terdapat banyak kerajaan di indonesia
Pakcoy bertumbuhan ketika musim kemarau
Sekarang kami dapat berkomunikasi dengan mudah
Banyak hal yang perlu dibahas saat rapat nanti
Upacara penurunan bendera dilaksanakan pada hari Sabtu
Kakek menanam cabe di halaman tadi pagi
Upacara proklamasi dimulai jam sepuluh pagi
Kemerdekaan Indonesia diproklamirkan pada tanggal 17 Agustus 1945 oleh Bapak Soekarno
Dinda berangkat ke jakarta tiga hari yang lalu
Senam kesegaran jasmani dilaksanakan setiap senin
Dia terlihat antusias setiap kali membicarakan politik
Dia sedih saat ingat kejadian waktu itu
Peristiwa Pemberontakan G-30-S PKI terjadi pada tahun 1965
Air selokan meluap pukul enam pagi
Besok lusa saya berangkat ke bandung
Waktu kecil andre diajak ibu pergi mengunjungi nenek
Saat hujan, udara terasa lebih panas
Saya berjumpa dengan dinda
Saat sakit kita menyadari pentingnya menjaga kesehatan
Acara seminar dimulai satu jam lagi
Kami  menunggu di stasiun sejak tiga jam lalu
Aku mencuci kaki sebelum tidur
Kita menjaga persatuan bangsa mulai sekarang
Pak Puguh bisa hadir pada sore hari ini
Toko buku buka jam 8 pagi
kita mampir ke sini lain kali
Mulai sekarang kalian memperhatikan kebersihan kelas
dia bisa malam hari ini
Dinda mencontek saat ujian
Adik kuliah di jakarta tahun depan
Setiap pagi Pak Joko bersepeda
Bu Tati pergi berlibur ke jogja hari senin
Kalian boleh datang ke rumahku kapan saja
Di musim kemarau, kami kekurangan air bersih
Kita pergi pukul tujuh malam
Kami latihan musik setiap hari minggu
Saya bertemu Pak Ilham besok
Perbaikan jalan tol dilaksanakan dalam waktu dekat ini
Peraturan berlaku sejak disahkan
Natasha datang ke pestaku tadi sore
Paman kembali ke rumah tadi malam
Ayah berangkat ke kantor pukul tujuh pagi
Aku bekerja sejak sebulan yang lalu
Acara diskusi dimulai jam delapan
Aku memanggil Bu Lisa
Bu Lisa dipanggil Aku
Ayah membaca koran Tempo di teras
Koran Tempo dibaca Ayah di teras
Saya mengantuk
Guru memberikan tugas
Tugas diberikan guru
Siswa menyanyikan lagu Indonesia Raya
lagu Indonesia Raya dinyanyikan Siswa
Petugas memeriksa tas pengunjung
Tas pengunjung diperiksa petugas
Ibu Budi memasak nasi kuning
Nasi kuning dimasak Ibu Budi
Adik meminjam buku
Buku dipinjam Adik
Pak Hasan membakar sampah
Sampah dibakar Pak Hasan
Budhe Citra menurunkan suaranya
Suaranya diturunkan Budhe Citra
Aku menuliskan cerita di buku
Cerita dituliskan aku di buku
Pencuri tertangkap
Aku terperangkap
Ayah membawa piala
Piala dibawa ayah
Kak Adi meniup terompet di halaman
Terompet ditiup Kak Adi di halaman
Pak Krisna menanam kedelai di kebun
Kedelai ditanam Pak Krisna di kebun
Suster Rina membasuh muka di kamar mandi
Muka dibasuh Suster Rina di kamar mandi
Nenek Yeti menunggu kakek Fian di teras
kakek Fian ditunggu Nenek Yeti di teras
Kakak membersihkan dapur
Dapur dibersikan kakak
Bu Neneng melipat pakaian
Pakaian dilipat Bu Neneng
Jurnalis meliput berita
Berita diliput jurnalis
Adik Zaki mengunyah permen
Permen dikunyah Adik Zaki
Pak Iwan menyetir mobil
Mas Prapto membuat pupuk
Petani menanam padi
Padi ditanam petani
Pemborong membeli hasil panen
Hasil panen dibeli pemborong
Tengkulak memeras petani
Petani diperas tengkulak
Adik menonton kartun di televisi
Kartun ditonton adik di televisi
Ibu Raska menuang air
Air dituang Ibu Raska
Pak Zee Zee menceritakan kisah tragisnya
Kisah tragisnya diceritakan Pak Zee Zee
Satpam menangkap pencuri
Pencuri ditangkap Satpam
Kakak mengepel lantai
Lantai dipel kakak
Tentara menjaga perdamaian di Indonesia
Perdamaian dijaga tentara di Indonesia
Ayah mencari nafkah
Nafkah dicari ayah
Ibu memberi makan
Makan diberi ibu
Adik menerima uang
Uang diterima adik
Kakak Byan menghabiskan uang
Uang dihabiskan Kakak Byan
Massa membakar mobil di jalanan
Mobil dibakar massa  di jalanan
Warga menangkap babi di hutan
Babi ditangkap warga di hutan
Kak Zahra menjual kue
Kue dijual Kak Zahra
Adik melompat
Pengacara membela tersangka di pengadilan
Tersangka dibela Pengacara di pengadilan
Hakim Roger menjatuhi hukuman
Hukuman dijatuhkan Hakim Roger
Jaksa menuntut tersangka di pengadilan
Tersangka dituntut Jaksa di pengadilan
Mereka menerima kekalahan
kekalahan diterima mereka
Kami merayakan kemenangan
Kemenangan dirayakan kami
Gubernur Anis menyampaikan keluhan
Keluhan disampaikan Gubernur Anis
Lusi menggambar
Okta melukis perempuan
Perempuan dilukis Okta
Pak Budi mencetak kartu nama di Sampurna
Kartu nama dicetak Pak Budi di Sampurna
KPU menetapkan pemenang
Pemenang ditetapkan KPU
Guru memberi hadiah kepada pemenang
Hadiah diberi guru kepada pemenang
Ibu Rusdi menggendong adik
Adik digendong Ibu
Ayah menjemput adik di sekolah hari ini
Adik dijemput ayah di sekolah hari ini
Kakak memilih pasangan minggu depan
Pasangan dipilih kakak minggu depan