Adik diajak Paman bermain
Upacara tadi dipimpin kepala sekolah
Mereka menonton pertandingan bola basket
Ibu mengajak adik ke pasar
Irwan mempunyai sepatu baru
Semua siswa belajar dengan rajin
Para pedagang ramai berjualan di pasar
Peserta lomba bersiap di garis start
Anna membaca buku
Anna membaca buku dan majalah
Syifa membeli Roti
Syifa pergi ke salon dan membeli Roti
Zulia mengenakan baju merah
Mereka mencetak gol ke gawang lawan
Mereka melakukan selebrasi.
Penonton Menyambut dengan riuh
Ashita memintal benang wol
Ashita memintal benang wol dan sutra
Andi bermain bola
